*{
    background:rgb(17, 16, 16);
    color:white;
    margin:0;
}

form{
    text-align: center;
    margin-top:10%;   

}
form input{
    border:0px;
    border-radius:5px;
    width:50%;
    padding:10px;
    margin-top:10px;
    background-color: whitesmoke;
    color:black;
}
.btn-login{
    width:20%;
    background:white;
    color:black;
    font-size:20px;
    font-weight: bold;
}

.btn-login:hover{
    width:40%;
    color:white;
    border:1px solid white;
    background:black;
}
.heading{
    text-align:center;
    margin-top:5%;
    margin-bottom: 5%;
}
.error{
    text-align: center;
    font-size:20px;
    color:red;
}
.logout{
    float:right;
    margin:40px;
    border:1px solid white;
    padding:10px;
    text-decoration: none;
}
.logout:hover{
    color:black;
    background: white;
    transition: 0.9s;
}
.img-box{
    display:flex;
    border: 1px solid whitesmoke;
    font-size: 22px;
    padding:10px;
    width:80%;
    margin:auto;
    margin-top:2%;
    align-items: center;
    justify-content: space-between;

}




.img-box img{
    border: 1px solid white;
    width:100px;
    height:100px;

}
/* .imgs{} */
.AClass{
    right:0px;
    position: absolute;
}



.h{
    display: flex;
    justify-content: space-between;
    margin-left:10%;
    margin-right:20%;
    font-size: 30px;
    font-weight: bold;
}

.i-box{
    display: inline;
}


 
  

  
  .dialog{
    margin:0;
    padding: 20px;
    border:0;
    background:transparent;
  }
  
  .dialog::backdrop{
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
  }
  
  .dialog__wrapper{
    margin-left: 20vw;
    width:40vw;
    height:40vh;
    color:black;
    text-align: center;
    padding:20px;
    background:#fff;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
  }
  
  .dialog__close{
    border:0;
    padding:0;
    width: 24px;
    place-items: center;
    background:#000;
    color:#fff;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    position:absolute;
    top:5px;
    right:5px;
    cursor:pointer;
    appearance:none;
  }
  #stuff {
    color:black;
    background: transparent;
    font-size: 22px;
  }
  .btn-danger{
    font-size:25px;
    margin-top:20px;
    background:whitesmoke;
    color:red;
    border: 1px solid red;
    border-radius: 4px;
    padding:10px;

}
.btn-danger:hover{
    cursor:pointer;
    transition:0.3s;
    background-color: red;
    color:white;
    
}













/* modal image code copied XD */
.modal-target {
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .modal-target:hover {opacity: 1;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 50vw;
    opacity: 1 !important;
    max-width: 70vw;
    max-height: 80vh;
  }
  
  /* Caption of Modal Image */
  .modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1200px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1em;
    margin-top: 32px;
  }
  
  /* Add Animation */
  .modal-content, .modal-caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-atransform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  /* image model end  */