<html> 
  <head> 
    <title>About</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <style>
        iframe{
            border: none;
            height:100vh;
            width:100vw;
        }
    </style>
  </head> 

  <body> 
    <iframe src="https://example.com" seamless></iframe>
  </body> 
</html>