<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- import jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    {% block body %}
 
 

 
    {% if stuff %}
    <div class="error">
There was an error. Please try again
</div>
{% endif %}

    {% if login %}






    <div class="modals">
        <dialog class="dialog" id="modal-option-1">
          <div class="dialog__wrapper">
            <button class="dialog__close">✕</button>
            <div id="stuff"></div>
            <button class="btn-danger dialog__close2" onclick="delete_name()" type="button">Delete</button>
          </div>
    
          </dialog>
    
    
          </div>


<!-- modal for adding imgs -->

<div class="modals3">
  <dialog class="dialog2" id="modal-option-3">
    <div class="dialog__wrapper2">
      <button id="close" class="dialog__close">✕</button>
      <div id="buttons">
        <button id="tab1">URL</button>
        <button id="tab2">From files</button>
      </div>
      <div id="pages">
        
        
        <p id="toChange">
            </p>
       

              
            <div id="page1" style="display:none;">
             
                <h1 style="margin-top:20px; margin-bottom:0px;background:whitesmoke; color:black">Add Image Through URL</h1>
                
                <h1 id="name_for_url" style="background:whitesmoke; color:black"></h1>
                <div id="url-error" style="display:none">Unvalid URL</div>
          
              
              <form method="post" class="url-form">
                <input id="name-url" type="hidden" name="name-url" value="">
                <input id="url" type="text" name="thumbnail" placeholder="Enter URL">
                <button type="button" id="add">Add</button>



                <img class="preview" onerror="document.getElementById('url-error').style.display = 'block';document.getElementById('url-submit').style.display = 'none';">

                <input id="url-submit" class="submit-url" type="submit" value="Submit">
              </form>
              
  
              
            
            
            </div>
      <div id="page2" style="display:none;" class="pg2"> 
        <h1 style="margin-top:20px; margin-bottom:0px;background:whitesmoke; color:black">Upload Image</h1>
        <h1 id="name_for_url2" style="background:whitesmoke; color:black"></h1><br>
        also images/gifs larger than 2mb gets ingored<br>
        <form method="post" class="url-form" enctype="multipart/form-data">
          <input id="name-url2" type="hidden" name="name-upload" value="">
          <input name="file" type='file' onchange="readURL(this);" />

          <img class="preview2"  id="blah" src="http://placehold.it/180" alt="" />
          <input id="url-submit" class="submit-url" type="submit" value="Submit">
        </form>



        

      
      
      
      
      </div>
           





      <!-- close button -->
      <!-- <button class="btn-danger dialog__close2" type="button">img</button> -->
    </div>

    </dialog>


    </div>


<!-- modal ending -->



    <a class="logout" href="/logout">Log Out</a><br>
    <h1 class="heading">Cul Bot Upload Images</h1>



          <form method="post" style="margin-bottom:5%;">
            <h1>Add Keyword</h1>
            <input type="text" name="key" id="key" style="width:70%;">
            <input class="add" type="submit" value="Add" style="width:10%;">
            {% if stuff_error %}
            <div class="error">
        {{stuff_error}}
        </div>
        {% endif %}
          </form>

   

    <div class="h">
        <span>Keywords</span>
        <span>Images</span>
    </div>

    <div class="img-boxs">

    {% for i in range(name|length) %}
    <div class="img-box" id="f-{{loop.index}}">
        
        <div class="box1">

  <p class="edits" style="display:inline" id="edit-{{loop.index}}">{{name[i]}}</p>
  <button class="edit-btn" type="submit" id="edit-button-{{loop.index}}" onclick="MakeEditable('edit-{{loop.index}}')"><i class="fa-solid fa-pen"></i></button>
  <button class="end-btn" type="submit" id="end-button-{{loop.index}}" onclick="StopEditable('edit-{{loop.index}}')">Done</button>


 
    <a style="margin-left:20px;" onclick="open_delete('edit-{{loop.index}}')" cursor:pointer; href="#modal-option-1">
        <i class="fa fa-solid fa-trash"></i> 
      </a> 

 
</div>



















        <div class="i-box">

          <a href="#modal-option-3" id="">
<button onclick="do_stuff('{{name[i]}}')" class="add-box" id="{{name[i]}}">+</button>
</a>
        {% for g in imgs[i] %} 
    
        <div style="position:relative; display:inline;" id="I-{{i}}-{{loop.index}}">
      
          <button id="c-{{loop.index}}" class="close AClass" onclick="delete_img('img-{{i}}-{{loop.index}}')">
             <span>&times;</span>
          </button>
          <img src="{{g}}" class="modal-target" id="img-{{i}}-{{loop.index}}" onerror="this.onerror=null; this.src='https://media.discordapp.net/attachments/868218686366949416/1047090569689710643/attachment.png'">
        </div>
        
        {% endfor %}
    </div>
    </div>
    {% endfor %}

</div>

    

<!-- The Modal -->
<div id="modal" class="modal">
  <span id="modal-close" class="modal-close">&times;</span>
  <img id="modal-content" class="modal-content">
  <div id="modal-caption" class="modal-caption"></div>
</div>
  


  













    {% endif %}



    {% if not login %}
    <h1 class="heading">Login</h1>
<form method="POST">
    <input type="text" name="name" id="name" placeholder="username" required><br>
    <input type="password" name="pwd" id="pwd" placeholder="password" required><br>
    <input type="submit" value="Login" class="btn-login">
</form>

    {% endif %}

 

<footer>
  <div class="footer-stuff">
    <a href="/surprise" target="_blank"><button class="btn1">Just a Button</button></a>
    
    <a href="/about" target="_blank"><button class="btn2">About</button></a>
    

    
  </div>
  
</footer>
   


{% endblock %}

</body>
<script src="/static/js/main.js" type="text/javascript"></script>
</html>