<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% block body %}
 
 

 
    {% if stuff %}
    <div class="error">
There was an error. Please try again
</div>
{% endif %}

    {% if login %}
    yay logged in 
    <a href="/logout">Log Out</a>
    {% endif %}



    {% if not login %}
    <h1 class="heading">Login</h1>
<form method="POST">
    <input type="text" name="name" id="name" placeholder="username" required><br>
    <input type="password" name="pwd" id="pwd" placeholder="password" required><br>
    <input type="submit" value="Login" class="btn-login">
</form>

    {% endif %}



{% endblock %}

</body>
</html>