<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- import jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    {% block body %}
 
 

 
    {% if stuff %}
    <div class="error">
There was an error. Please try again
</div>
{% endif %}

    {% if login %}






    <div class="modals">
        <dialog class="dialog" id="modal-option-1">
          <div class="dialog__wrapper">
            <button class="dialog__close">✕</button>
            <div id="stuff"></div>
            <button class="btn-danger dialog__close2" onclick="delete_name()" type="button">Delete</button>
          </div>
    
          </dialog>
    
    
          </div>




<!-- modal ending -->

<a class="logout1" href="/">Cul Bot Images</a>

    <a class="logout" href="/logout">Log Out</a><br>
    <h1 class="heading">Cul Bot Upload Images</h1>
    
    


          <form method="post" style="margin-bottom:5%;">
            <h1>Add Keyword</h1>
            <input type="text" name="key" id="key" style="width:70%;">
            <input class="add" type="submit" value="Add" style="width:10%;">
            {% if stuff_error %}
            <div class="error">
        {{stuff_error}}
        </div>
        {% endif %}
          </form>

   

    <div class="h">
        <span>Keywords</span>
        <span>Text</span>
    </div>

    <div class="img-boxs">

    {% for i in range(name|length) %}
    <div class="img-box" id="f-{{loop.index}}">
        
        <div class="box1">

  <p class="edits" style="display:inline" id="edit-{{loop.index}}">{{name[i]}}</p>
  <button class="edit-btn" type="submit" id="edit-button-{{loop.index}}" onclick="MakeEditable('edit-{{loop.index}}')"><i class="fa-solid fa-pen"></i></button>
  <button class="end-btn" type="submit" id="end-button-{{loop.index}}" onclick="StopEditable('edit-{{loop.index}}')">Done</button>


 
    <a style="margin-left:20px;" onclick="open_delete('edit-{{loop.index}}')" cursor:pointer; href="#modal-option-1">
        <i class="fa fa-solid fa-trash"></i> 
      </a> 



       
 
</div>


<div class="o">

<p contenteditable="true" class="edits1" style="display:inline; width:40vw;" id="edit1-{{loop.index}}">{{txt[i]}}</p>
  <button class="edit-btn" type="submit" id="edit-button1-{{loop.index}}" onclick="MakeEditable1('edit1-{{loop.index}}')"><i class="fa-solid fa-pen"></i></button>
  <button class="end-btn" type="submit" id="end-button1-{{loop.index}}" onclick="StopEditable1('edit1-{{loop.index}}')">Done</button>


</div>








    


      

    </div>
    {% endfor %}

</div>

    

<!-- The Modal -->
<div id="modal" class="modal">
  <span id="modal-close" class="modal-close">&times;</span>
  <img id="modal-content" class="modal-content">
  <div id="modal-caption" class="modal-caption"></div>
</div>
  


  













    {% endif %}


 

<footer>
  <div class="footer-stuff">
    <a href="/surprise" target="_blank"><button class="btn1">Just a Button</button></a>
    
    <a href="/about" target="_blank"><button class="btn2">About</button></a>
    

    
  </div>
  
</footer>
   


{% endblock %}

</body>
<script src="/static/js/text.js" type="text/javascript"></script>
</html>